---
import Layout from "../components/Layout.astro";
---

<Layout title="Welcome">
  <main>
    <button class="btn">Button</button>
    <button class="btn btn-primary">btn</button>
  </main>
</Layout>
